Name :- Sourabh Solanki
Batch:- DS2403

In [65]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [66]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.

In [3]:
driver.get("https://www.shine.com/")

In [4]:
designation = driver.find_element(By.CLASS_NAME,"input")
designation.click()

In [5]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [7]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [32]:
job_title = []
job_location = []
company_name = []
experience= []

In [33]:
title_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]//div/strong/h2')[0:11]
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[0:11]
for i in location_tags:
    loc = i.text
    job_location.append(loc)
    
company_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[0:11]
for i in company_tags:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[0:11]
for i in experience_tags:
    exp = i.text
    experience.append(exp)

In [34]:
print(len(job_title),len(job_location),len(company_name),len(experience))

11 11 11 11

In [35]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,Data Analyst Opening,Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
5,Data Analyst Recruitment,Bangalore\n+6,techno endura,0 to 1 Yr
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
7,Business Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
8,Data Governance Analyst,Bangalore\n+6,mackenzie modern it solutions priva...,4 to 6 Yrs
9,MIS Analyst,Bangalore,white horse manpower consultancy (p...,5 to 8 Yrs
10,Azure Data engineer,Bangalore,quess corp (magna infotech),8 to 13 Yrs

Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.
You have to scrape the job-title, job-location, company_name, experience_required. You have to
scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [43]:
driver.get("https://www.naukri.com/")

In [46]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [48]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [49]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [50]:
job_title = []
job_location = []
company_name = []
experience= []

In [51]:
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')[0:11]
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')[0:11]
for i in location_tags:
    loc = i.text
    job_location.append(loc)
    
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')[0:11]
for i in company_tags:
    company = i.text
    company_name.append(company)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')[0:11]
for i in experience_tags:
    exp = i.text
    experience.append(exp)

In [52]:
print(len(job_title),len(job_location),len(company_name),len(experience))

11 11 11 11

In [73]:
import pandas as pd
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience})
df

,Title,Location,Company_name,Experience
0,Data Analyst,"Hybrid - Kolkata, Bengaluru",Ltimindtree,12-17 Yrs
1,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
2,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
3,Field Programs Data Analyst,Bengaluru,Salesforce,2-5 Yrs
4,Data Analyst,Bengaluru,ANZ,1-5 Yrs
5,Data Analyst,Bengaluru,TMF Group,2-4 Yrs
6,Field Programs Data Analyst,Bengaluru,Tableau Software,2-5 Yrs
7,Data Analyst,Bengaluru,Quation Solutions,3-8 Yrs
8,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
9,Data Analyst,Hybrid - Bengaluru,none,5-8 Yrs
10,Data Analyst,Bangalore Rural,Two95 International Staffing Services,7-12 Yrs

Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price

In [75]:
driver = webdriver.Chrome()

In [86]:
driver.get("https://www.flipkart.com/")

In [96]:
item = driver.find_elements(By.CLASS_NAME, 'Pke_EE')
for element in search:
    element.send_keys('sunglasses')

In [122]:
click = driver.find_elements(By.XPATH, '//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
for element in click:
    element.click()

In [123]:
brand = []
product_description = []
price = []

In [124]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    Brand = i.text
    brand.append(Brand)
    
product_tags = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in product_tags:
    Product = i.text
    product_description.append(Product)
    
price_tags = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    Price = i.text
    price.append(Price)

In [125]:
print(len(brand),len(product_description),len(price))

40 40 40

In [126]:
df = pd.DataFrame({'Brand':brand,'Product_Description':product_description,'Price':price})
df

             Brand                                Product_Description   Price
0    VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...    ₹487
1      john jacobs                UV Protection Round Sunglasses (51)  ₹2,316
2         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹503
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4           PIRASO       UV Protection Aviator Sunglasses (Free Size)    ₹303
5        Elligator                  Mirrored Wayfarer Sunglasses (50)    ₹249
6          eyedens  UV Protection Retro Square Sunglasses (Free Size)    ₹499
7    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹1,049
8         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹470
9         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹499
10          GANSTA    Gradient, UV Protection Aviator Sunglasses (57)    ₹279
11         Eyenaks   UV Protection Rectangular Sunglasses (Free Size)    ₹389
12        Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹522
13             ASB         UV Protection Round Sunglasses (Free Size)    ₹314
14         ROADWAY  UV Protection Retro Square, Wayfarer, Sports S...    ₹209
15    hayden haiza              UV Protection Cat-eye Sunglasses (55)    ₹287
16    Being Better  UV Protection Retro Square Sunglasses (Free Size)    ₹225
17   VINCENT CHASE  by Lenskart UV Protection, Polarized Over-size...  ₹1,049
18   VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...  ₹1,049
19   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹499
20           NuVew  UV Protection Sports, Wrap-around Sunglasses (70)    ₹499
21   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,679
22      Dressberry              UV Protection Cat-eye Sunglasses (60)    ₹383
23       Rich Club         UV Protection Retro Square Sunglasses (54)    ₹487
24        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹575
25          PIRASO            UV Protection Butterfly Sunglasses (60)    ₹370
26       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹594
27           NuVew  UV Protection Sports, Wrap-around Sunglasses (59)    ₹415
28    hayden haiza          UV Protection Rectangular Sunglasses (47)    ₹265
29            IDEE              Gradient Retro Square Sunglasses (56)  ₹1,061
30   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹622
31     Eyewearlabs  Polarized, UV Protection Retro Square Sunglass...  ₹1,999
32            IRUS              UV Protection Aviator Sunglasses (54)  ₹1,990
33       Rich Club         UV Protection Retro Square Sunglasses (54)    ₹399
34   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹879
35         DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...    ₹209
36       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...    ₹497
37       ROYAL SON                   Mirrored Aviator Sunglasses (58)    ₹379
38  Mast & Harbour                   Gradient Aviator Sunglasses (58)    ₹194
39    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹357

In [130]:
brand = []
product_description = []
price = []

In [131]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    Brand = i.text
    brand.append(Brand)
    
product_tags = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in product_tags:
    Product = i.text
    product_description.append(Product)
    
price_tags = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    Price = i.text
    price.append(Price)

In [132]:
print(len(brand),len(product_description),len(price))

40 40 40

In [134]:
df = pd.DataFrame({'Brand':brand,'Product_Description':product_description,'Price':price})
df.index = range(40, len(df) + 40)
df

             Brand                                Product_Description   Price
40   VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹1,049
41   VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...    ₹487
42    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹357
43        elegante  Polarized, Riding Glasses, Night Vision Sports...    ₹474
44            IDEE               Gradient Rectangular Sunglasses (57)    ₹649
45   VINCENT CHASE  by Lenskart Polarized, UV Protection Clubmaste...  ₹1,049
46         Eyenaks   UV Protection Rectangular Sunglasses (Free Size)    ₹389
47     john jacobs                UV Protection Round Sunglasses (51)  ₹2,316
48   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹499
49        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹574
50   VINCENT CHASE  by Lenskart UV Protection, Polarized Over-size...  ₹1,049
51           NuVew  UV Protection Sports, Wrap-around Sunglasses (70)    ₹499
52        BABYMOON              Gradient Round Sunglasses (Free Size)    ₹299
53       ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹594
54       Rich Club             UV Protection Wayfarer Sunglasses (52)    ₹249
55        Fastrack             UV Protection Wayfarer Sunglasses (57)    ₹547
56   VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,679
57           NuVew  UV Protection Sports, Wrap-around Sunglasses (59)    ₹415
58        POLAROID                     Polarized Oval Sunglasses (57)  ₹2,262
59  ROZZETTA CRAFT  Polarized, Night Vision, Riding Glasses Sports...    ₹379
60   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹622
61     Eyewearlabs  Polarized, UV Protection Retro Square Sunglass...  ₹1,999
62            IDEE                   Gradient Aviator Sunglasses (58)    ₹791
63   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹614
64        Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹762
65       Rich Club                 Polarized Wayfarer Sunglasses (52)    ₹251
66       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...    ₹497
67       ROYAL SON                   Mirrored Aviator Sunglasses (58)    ₹379
68         PC STAR  UV Protection, Riding Glasses Retro Square Sun...    ₹399
69          PIRASO           UV Protection Over-sized Sunglasses (60)    ₹279
70   VINCENT CHASE  by Lenskart UV Protection Clubmaster Sunglasse...    ₹779
71     john jacobs  Polarized, UV Protection Rectangular Sunglasse...  ₹1,169
72  ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹419
73        Roadster          UV Protection Wrap-around Sunglasses (57)    ₹230
74   VINCENT CHASE  by Lenskart UV Protection Clubmaster Sunglasse...    ₹818
75   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹499
76       ROYAL SON  UV Protection, Polarized Clubmaster, Retro Squ...    ₹854
77       ROYAL SON              Polarized Rectangular Sunglasses (60)    ₹664
78  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹299
79          PIRASO                 UV Protection Oval Sunglasses (54)    ₹254

In [148]:
brand = []
product_description = []
price = []

In [149]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')[0:21]
for i in brand_tags:
    Brand = i.text
    brand.append(Brand)
    
product_tags = driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')[0:21]
for i in product_tags:
    Product = i.text
    product_description.append(Product)
    
price_tags = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')[0:21]
for i in price_tags:
    Price = i.text
    price.append(Price)

In [150]:
print(len(brand),len(product_description),len(price))

21 21 21

In [151]:
df = pd.DataFrame({'Brand':brand,'Product_Description':product_description,'Price':price})
df.index = range(80, len(df) + 80)
df

              Brand                                Product_Description   Price
80    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...  ₹1,049
81    VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...    ₹487
82    VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹499
83    VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹806
84    VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹1,049
85        ROYAL SON  Polarized, UV Protection Retro Square Sunglass...    ₹854
86          Eyenaks   UV Protection Rectangular Sunglasses (Free Size)    ₹389
87      john jacobs                UV Protection Round Sunglasses (51)  ₹2,316
88     hayden haiza              UV Protection Cat-eye Sunglasses (39)    ₹249
89     hayden haiza         UV Protection Retro Square Sunglasses (45)    ₹248
90    VINCENT CHASE  by Lenskart UV Protection, Polarized Over-size...  ₹1,049
91            NuVew  UV Protection Sports, Wrap-around Sunglasses (70)    ₹499
92           AISLIN       UV Protection, Gradient Oval Sunglasses (60)    ₹385
93   ROZZETTA CRAFT           UV Protection Over-sized Sunglasses (57)    ₹384
94           AISLIN   UV Protection, Gradient Wayfarer Sunglasses (52)    ₹525
95        ROYAL SON              Polarized Rectangular Sunglasses (60)    ₹664
96        ROYAL SON  Polarized, UV Protection Wayfarer, Retro Squar...    ₹594
97    VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,679
98    VINCENT CHASE  by Lenskart UV Protection Clubmaster Sunglasse...    ₹499
99           GANSTA    Gradient, UV Protection Aviator Sunglasses (57)    ₹279
100           NuVew  UV Protection Sports, Wrap-around Sunglasses (59)    ₹415