Name : Sourabh Solanki                                                                                                            
Batch : DS2403

In [193]:
import pandas as pd
import re
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
name=[]
artist=[]
upload_date=[]
view=[]

In [4]:
name_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for tag in name_tag:
    name.append(tag.text)

In [5]:
artist_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for tag in artist_tag:
    artist.append(tag.text)

In [6]:
date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for tag in date_tag:
    upload_date.append(tag.text)

In [7]:
view_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for tag in view_tag:
    view.append(tag.text)

In [8]:
Youtube=pd.DataFrame({'Name':name,'Artist':artist,'Upload Date':upload_date,'Views':view})

Youtube.index = Youtube.index + 1
Youtube.index.name = 'Rank'
Youtube

,Name,Artist,Upload Date,Views
Rank,,,,
1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
2,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
5,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
6,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
9,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
11,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
13,"""Masha and the Bear ‚Äì Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
14,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
16,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
17,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
18,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
19,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
20,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
23,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
24,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
26,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
27,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
28,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
29,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
30,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

In [9]:
driver.close()

2. Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/.You')

In [11]:
fixture_page=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture_page.click()
time.sleep(2)

In [35]:
series=[]
place=[]
date=[]
time=[]

In [36]:
series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for tag in series_tag:
    series.append(tag.text)

In [37]:
place_tag=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
for tag in place_tag:
    place.append(tag.text)

In [38]:
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for tag in date_tag:
    date.append(tag.text)

In [39]:
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for tag in time_tag:
    time.append(tag.text)

In [40]:
International_fixtures = pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
International_fixtures

,Series,Place,Date,Time
0,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",9 Jun,20:00 IST
1,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium, N...",12 Jun,20:00 IST
2,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
3,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
4,South Africa Women Tour Of India 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST

In [41]:
driver.close()

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [42]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/')

In [45]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [46]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [47]:
state_wise=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
state_wise.click()

In [48]:
Rank=[]
state=[]
Gsdp=[]
gsdp=[]
share=[]
gdp=[]

In [49]:
rank_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[1]')
for tag in rank_tag:
    Rank.append(tag.text)

In [50]:
state_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[2]')
for tag in state_tag:
    state.append(tag.text)

In [51]:
Gsdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[4]')
for tag in Gsdp_tag:
    Gsdp.append(tag.text)

In [52]:
gsdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[3]')
for tag in gsdp_tag:
    gsdp.append(tag.text)

In [53]:
share_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[5]')
for tag in share_tag:
    share.append(tag.text)

In [54]:
gdp_tag=driver.find_elements(By.XPATH,'//div[5][@class="fwidth"]/div[1]/div[1]/table/tbody/tr/td[6]')
for tag in gdp_tag:
    gdp.append(tag.text)

In [55]:
State_wise_GDP=pd.DataFrame({'Rank':Rank,'State':state,'GSDP(21-22)At_current_prices':Gsdp,'GSDP(22-23)_At_current_prices':gsdp,'Share(21-22)':share,'GDP ($ Billion)':gdp})
State_wise_GDP.set_index('Rank',inplace=True)
State_wise_GDP

,State,GSDP(21-22)At_current_prices,GSDP(22-23)_At_current_prices,Share(21-22),GDP ($ Billion)
Rank,,,,,
1,Maharashtra,-,-,"3,108,022",13.17%
2,Tamil Nadu,"2,364,514","2,700,109","2,071,286",8.78%
3,Karnataka,"2,269,995","2,500,733","1,978,094",8.38%
4,Uttar Pradesh,"2,258,040","2,547,861","1,975,595",8.37%
5,Gujarat,"2,230,609",-,"1,928,683",8.17%
6,West Bengal,"1,531,758","1,700,939","1,329,238",5.63%
7,Rajasthan,"1,365,849","1,524,030","1,193,489",5.06%
8,Andhra Pradesh,"1,303,524","1,439,674","1,148,471",4.87%
9,Telangana,"1,308,034","1,463,960","1,124,204",4.76%
10,Madhya Pradesh,"1,246,471","1,363,327","1,092,964",4.63%
11,Kerala,"1,046,188",-,"934,542",3.96%
12,Delhi,"1,014,688","1,107,746","881,336",3.73%
13,Haryana,"984,055","1,095,535","868,905",3.68%
14,Odisha,"753,177","832,790","662,886",2.81%
15,Bihar,"751,396",-,"650,302",2.76%
16,Punjab,"676,164","736,423","617,192",2.62%
17,Assam,"493,167","565,401","411,454",1.74%
18,Chhattisgarh,"464,399","505,887","410,525",1.74%
19,Jharkhand,"393,722",-,"358,863",1.52%
20,Uttarakhand,"303,781","346,206","267,143",1.13%
21,Jammu & Kashmir,"224,226","246,465","193,352",0.82%
22,Himachal Pradesh,"191,728","207,430","172,162",0.73%
23,Goa,"93,672",-,"84,266",0.36%
24,Tripura,"72,636",-,"62,550",0.27%
25,Chandigarh,"54,285",-,"46,096",0.20%
26,Puducherry,"49,643",-,"43,810",0.19%
27,Meghalaya,"42,697","47,381","38,785",0.16%
28,Sikkim,"42,756",-,"37,557",0.16%
29,Manipur,-,-,"36,594",0.16%
30,Arunachal Pradesh,"39,630",-,"34,775",0.15%
31,Nagaland,"35,643",-,"31,038",0.13%
32,Mizoram,-,-,"27,824",0.12%
33,Andaman & Nicobar Islands,-,-,"10,371",0.04%

In [46]:
driver.close()

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [95]:
driver=webdriver.Chrome()
driver.get('https://github.com/you')

In [96]:
    menu_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
menu_button.click()

In [101]:
source_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source_button.click()

In [102]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [103]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [104]:
title_tag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')[0:10]
for tag in title_tag:
    repository_title.append(tag.text)

In [105]:
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')[0:10]
for tag in description_tag:
    repository_description.append(tag.text)

In [106]:
contributors_tag=driver.find_elements(By.XPATH,'//a[2][@class="Link Link--muted d-inline-block mr-3"]')[0:10]
for tag in contributors_tag:
    contributors_count.append(tag.text)

In [107]:
try:
    Language_used=[]
    language_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]')[0:10]
    for tag in language_tag:
        Language_used.append(tag.text)  
except NoSuchElementException:
    Language_used.append("_")

In [108]:
Trending_reprository = pd.DataFrame({'Repository Title':repository_title,'Repository Description':repository_description,'Contributors count':contributors_count, 'Language Used':Language_used})
Trending_reprository

,Repository Title,Repository Description,Contributors count,Language Used
0,jordanbaird / Ice,Powerful menu bar manager for macOS,68,Swift
1,Stability-AI / stable-audio-tools,Generative models for conditional audio genera...,148,Python
2,hcengineering / platform,Huly ‚Äî All-in-One Project Management Platform ...,352,Svelte
3,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","25,401",Jupyter Notebook
4,KenneyNL / Adobe-Alternatives,A list of alternatives for Adobe software,110,Built by
5,livekit / livekit,End-to-end stack for WebRTC. SFU media server ...,660,Go
6,directus / directus,The Modern Data Stack üê∞ ‚Äî Directus is an insta...,"3,612",TypeScript
7,google / mesop,Neovim config for the lazy,40,Python
8,LazyVim / LazyVim,Visual Studio Code,944,Lua
9,microsoft / vscode,An open-source storage framework that enables ...,"27,910",TypeScript

In [109]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [113]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [116]:
menu = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
menu.click()

In [117]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [118]:
top_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
top_100.click()

In [119]:
Song_name=[]
artist_name=[]
Last_week_rank=[]
Peak_rank=[]
weeks=[]

In [120]:
song_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[1]//h3')
for tag in song_tag:
    Song_name.append(tag.text)

In [121]:
artist_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[1]/span')
for tag in artist_tag:
    artist_name.append(tag.text)

In [122]:
weekrank_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]/ul/li[4]/span[1]')
for tag in weekrank_tag:
    Last_week_rank.append(tag.text)

In [123]:
peakrank_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul/li[4]/ul/li[5]')
for tag in peakrank_tag:
    Peak_rank.append(tag.text)

In [124]:
week_tag=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]//ul//li[4]//ul//li[6]')
for tag in week_tag:
    weeks.append(tag.text)

In [125]:
len(weeks)

100

In [126]:
Top_100_songs=pd.DataFrame({'Song name':Song_name,'Artist Name':artist_name,'Last Week Rank':Last_week_rank,'Peak Rank':Peak_rank,'Weeks On Board':weeks})

Top_100_songs

,Song name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,3
1,Not Like Us,Kendrick Lamar,2,1,4
2,Million Dollar Baby,Tommy Richman,3,2,5
3,A Bar Song (Tipsy),Shaboozey,4,3,7
4,Espresso,Sabrina Carpenter,6,4,7
...,...,...,...,...,...
95,Attitude,Don Toliver Featuring Charlie Wilson & Cash Co...,-,96,1
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,98,97,2
97,The Alchemy,Taylor Swift,82,13,6
98,On One Tonight,Gunna,71,54,3
99,Tu Name,Fuerza Regida,-,66,13

In [127]:
driver.close()

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [128]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [129]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [130]:
rank=[]
rank_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[1]')
for tag in rank_tag:
    rank.append(tag.text)

In [131]:
book_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for tag in book_tag:
    book_name.append(tag.text)

In [132]:
author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for tag in author_tag:
    author_name.append(tag.text)

In [133]:
volume_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for tag in volume_tag:
    volumes_sold.append(tag.text)

In [134]:
publisher_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for tag in publisher_tag:
    publisher.append(tag.text)

In [135]:
genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for tag in genre_tag:
    genre.append(tag.text)

In [136]:
Novels=pd.DataFrame({'Rank':rank,'Book Name':book_name,'Author Name':author_name,'Volumes Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
Novels.set_index('Rank',inplace=True)
Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [137]:
driver.close()

 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [142]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/')

In [ ]:
#This URL Link is 404 error code shows it does not work properly so i skip this question
https://www.imdb.com/list/ls095964455/
    #Dear Sir i try using  different link.

In [143]:
menu = driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/label[1]')
menu.click()

In [144]:
tvshows =driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/label')
tvshows.click()

In [145]:
most_popular =driver.find_element(By.XPATH,'/html/body/div[2]/nav/div[2]/aside[1]/div/div[2]/div/div[2]/div[1]/span/div/div/ul/a[3]')
most_popular.click()

In [165]:
show_name = []
year_span = []
genre = []
runtime = []
rating = []
votes = []

In [166]:
name_tag=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN cli-title"]')
for tag in name_tag:
    show_name.append(tag.text)

In [167]:
year_tag=driver.find_elements(By.XPATH,'//span[@class="sc-b189961a-8 kLaxqf cli-title-metadata-item"][1]')
for tag in year_tag:
    year_span.append(tag.text)

In [168]:
genre_tag=driver.find_elements(By.XPATH,'//span[@class="sc-b189961a-3 hidKPx cli-title-type-data"]')
for tag in genre_tag:
    genre.append(tag.text)

In [169]:
runtime_tag=driver.find_elements(By.XPATH,'//span[@class="sc-b189961a-8 kLaxqf cli-title-metadata-item"][2]')
for tag in runtime_tag:
    runtime.append(tag.text)

In [170]:
rating_tag=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"][1]')
for tag in rating_tag:
    rating.append(tag.text)

In [171]:
votes_tag=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star--voteCount"]')
for tag in votes_tag:
    votes.append(tag.text)

In [172]:
Tv_shows = pd.DataFrame({'Name':show_name,'Year':year_span,'Genre':genre,'Runtime':runtime,'Rating':rating,'Votes':votes})
Tv_shows

               Name       Year           Genre  Runtime        Rating    Votes
0        Bridgerton      2020‚Äì       TV Series   25 eps  7.4\n (178K)   (178K)
1           Fallout      2024‚Äì       TV Series    9 eps  8.4\n (197K)   (197K)
2              Eric       2024  TV Mini Series    6 eps   7.0\n (10K)    (10K)
3             Tires  2024‚Äì2025       TV Series    7 eps  7.4\n (5.8K)   (5.8K)
4       Dark Matter      2024‚Äì       TV Series    9 eps  7.5\n (8.4K)   (8.4K)
..              ...        ...             ...      ...           ...      ...
95  The White Lotus  2021‚Äì2025       TV Series   14 eps  8.0\n (211K)   (211K)
96        Severance      2022‚Äì       TV Series   19 eps  8.7\n (206K)   (206K)
97     Chicago P.D.      2014‚Äì       TV Series  222 eps   8.1\n (46K)    (46K)
98         Insomnia      2024‚Äì       TV Series    4 eps   5.4\n (215)    (215)
99          M*A*S*H  1972‚Äì1983       TV Series  251 eps   8.5\n (64K)    (64K)

[100 rows x 6 columns]

In [173]:
driver.close()

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [202]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/ ')

In [203]:
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [204]:
datasetname=[]
datatype=[]
task=[]
attributetype=[]
numberofinstance=[]
numberofattributes=[]
years=[]

In [216]:
start=0
end=66
url=[]

for page in range (start,end):
    url_tag=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for tag in url_tag:
        url.append(tag.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(2)

ElementClickInterceptedException: Message: element click intercepted: Element <button class="btn-primary btn-sm btn" aria-label="Next Page" disabled="">...</button> is not clickable at point (713, 688). Other element would receive the click: <div class="btn-group">...</div>
  (Session info: chrome=125.0.6422.142)
Stacktrace:
	GetHandleVerifier [0x00007FF60E6A1F52+60322]
	(No symbol) [0x00007FF60E61CEC9]
	(No symbol) [0x00007FF60E4D7EBA]
	(No symbol) [0x00007FF60E52F32E]
	(No symbol) [0x00007FF60E52CCF2]
	(No symbol) [0x00007FF60E52A18B]
	(No symbol) [0x00007FF60E529356]
	(No symbol) [0x00007FF60E51B491]
	(No symbol) [0x00007FF60E54C21A]
	(No symbol) [0x00007FF60E51ADB6]
	(No symbol) [0x00007FF60E54C430]
	(No symbol) [0x00007FF60E56BC80]
	(No symbol) [0x00007FF60E54BFC3]
	(No symbol) [0x00007FF60E519617]
	(No symbol) [0x00007FF60E51A211]
	GetHandleVerifier [0x00007FF60E9B94AD+3301629]
	GetHandleVerifier [0x00007FF60EA036D3+3605283]
	GetHandleVerifier [0x00007FF60E9F9450+3563680]
	GetHandleVerifier [0x00007FF60E754326+790390]
	(No symbol) [0x00007FF60E62750F]
	(No symbol) [0x00007FF60E623404]
	(No symbol) [0x00007FF60E623592]
	(No symbol) [0x00007FF60E612F9F]
	BaseThreadInitThunk [0x00007FFDA1F5257D+29]
	RtlUserThreadStart [0x00007FFDA36CAA48+40]

In [211]:
len(url)

10

In [212]:
for urls in url:
    driver.get(urls)
    time.sleep(10)
    
    try:
        name_tag=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/div/h1')
        datasetname.append(name_tag.text)
    except NoSuchElementException:
        datasetname.append('_')
        
    try:
        type_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][1]/p')
        datatype.append(type_tag.text)
    except NoSuchElementException:
        datatype.append('_')
        
    try:
        task_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][3]/p')
        task.append(task_tag.text)
    except NoSuchElementException:
        task.append('_')
        
    try:
        type_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][4]/p')
        attributetype.append(type_tag.text)
    except NoSuchElementException:
        attributetype.append('_')
        
    try:
        instance_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][5]/p')
        numberofinstance.append(instance_tag.text)
    except NoSuchElementException:
        numberofinstance.append('_')
        
    try:
        attribute_tag=driver.find_element(By.XPATH,'//div[@class="col-span-4"][6]/p')
        numberofattributes.append(attribute_tag.text)
    except NoSuchElementException:
        numberofattributes.append('_')
        
    try:
        year_tag=driver.find_element(By.XPATH,'//div[@class="flex flex-col"][1]/div[1]/div[2]/h2')
        years.append(year_tag.text)
    except NoSuchElementException:
        years.append('_')

In [213]:
Years=[i.split("/")[-1] for i in years]

In [214]:
len(datasetname),len(datatype),len(task),len(attributetype),len(numberofinstance),len(numberofattributes),len(Years)

(10, 10, 10, 10, 10, 10, 10)

In [215]:
Dataset=pd.DataFrame({'Dataset name':datasetname,'Data type':datatype,'Task':task,'Attribute type':attributetype,'No of instances':numberofinstance,'No of attribute':numberofattributes,'Year':Years})
Dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,7,2023
5,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,1995
7,Wine,Tabular,Classification,"Integer, Real",178,13,1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,2009
9,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,2012